.level_selector[data-level-selector] {
    float: right;
    margin-top: 5px;
    position: relative;
  }
  .level_selector[data-level-selector] button {
    background-color: transparent;
    color: #fff;
    font-family: Roboto,"Open Sans",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    border: none;
    font-size: 10px;
  }
  .level_selector[data-level-selector] button:hover {
    color: #c9c9c9;
  }
  .level_selector[data-level-selector] button.changing {
    -webkit-animation: pulse 0.5s infinite alternate;
  }
  .level_selector[data-level-selector] > ul {
    list-style-type: none;
    position: absolute;
    bottom: 25px;
    border: 1px solid black;
    display: none;
    background-color: #e6e6e6;
  }
  .level_selector[data-level-selector] li {
    font-size: 10px;
  }
  .level_selector[data-level-selector] li[data-title] {
    background-color: #c3c2c2;
    padding: 5px;
  }
  .level_selector[data-level-selector] li a {
    color: #444;
    padding: 2px 10px;
    display: block;
    text-decoration: none;
  }
  .level_selector[data-level-selector] li a:hover {
    background-color: #555;
    color: white;
  }
  .level_selector[data-level-selector] li a:hover a {
    color: white;
    text-decoration: none;
  }
  .level_selector[data-level-selector] li.current a {
    color: #f00;
  }
  
  @-webkit-keyframes pulse {
    0% {
      color: #fff;
    }
    50% {
      color: #ff0101;
    }
    100% {
      color: #B80000;
    }
  }
  