*{
	box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
	background:#111;
	color:#ddd!important;
    font:14px "Roboto", Arial, sans-serif;
    font-weight:400;
    letter-spacing:0.2px;
    line-height:1.6em;
}

/* Force footer to bottom*/
body, #mctv, .wrapper{
    min-height:100%;
}

a{
	color:#CAA047;
}
a:hover, a:active{
    color:#ab7717;
	text-decoration:underline;
}

h1, h2, h3, h4, h5{
    color:#ddd;
    font-family:"Roboto", Arial, sans-serif;
    font-weight:600;
}

ul.infolist, ol.infolist{
    padding-left:2em;
}
ul.infolist li, ol.infolist li{
    font-size:0.9em;
    margin-bottom:2px;
}

p{
    margin-bottom:14px;
}

hr{
    border-color:#333;
}

.alert{
    border-radius:0;
    font-size:0.9em;
    padding:6px 15px;
}

.text-uppercase{
    text-transform:uppercase;
}

.text-accent{
    color:#CAA047;
}

.smiley-404{
    font-size:5em;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #222;
}
.table>tbody>tr>td, .table>tbody>tr>th, 
.table>tfoot>tr>td, .table>tfoot>tr>th, 
.table>thead>tr>td, .table>thead>tr>th{
    border-top:1px solid #333;
    line-height:1.6em;
}
.table>thead>tr>th{
    border-bottom:0;
    text-transform:uppercase;
}
.table>tbody>tr>td{
    padding-top:1em;
}

.tab-content{
    padding-top:1em;
}

/* Custom button styles */
button{
	color:#000000;
}
.btn{
    border-radius:0;
    outline:none!important;
}
.btn + .btn{
    margin-left:8px;
    margin-right:8px;
}
.btn > i{
    margin-right:3px;
}

.btn-warning{
    background-color:#D8A612;
}
.btn-warning:active, .btn-warning:hover{
    border:1px solid #D8A612;
}
.btn-success{
    background-color:#38A151;
}
.btn-success:active, .btn-success:hover{
    border:1px solid #38A151;
}
.btn-info{
    background-color:#3566B1;
}
.btn-info:active, .btn-hover{
    border:1px solid #3566B1;
}
/* social icons styling */
.social-icons{
    margin:6px; 
}
.social-icons:active, .social-icons:hover{
    opacity:90%;
}

.form-control{
    background:#555;
    border-color:transparent;
    color:#ddd;
}
.form-control:focus{
    outline:none!important;
}
.form-control:disabled{
    background:#222;
}

.PhoneInputInput, .PhoneInputInput:focus, .PhoneInputInput:active{
    background:transparent;
    border:0;
    outline:none;
}

.intl-tel-input .country-list .flag-box,
.intl-tel-input .country-list .country-name{
    color: #333;
}

.flag-addon{
    background: #555;
    border-color: #555;
}

/* Jivochat */
#jcont{
    zoom:0.8!important;
}

/* Modal */
.modal-header{
    background:#50448D;
    padding:10px 15px;
}
.modal-header h4{
    color:#fff;
    font-size:1.2em;
    margin-bottom:0;
}
.modal-header .close{
    color:#fff;
    opacity:.8;
}
.modal-body h3, .modal-body h4, .modal-body h5{
    color:#CAA047;
}

.navbar-toggle{
    border:none;
}

.loader{
    height: 5em;
    overflow: hidden;
    position: relative;;
}
.loader img{
    margin:0 auto;
    height:6em;
    position: absolute;
    margin:0 auto;
    top:-1.5em;
    left:0;
    right:0;
}
.loader p{
    color:#aaa;
    font-size:0.9em;
    margin-top:3em;
    text-transform: uppercase;
}

.blank-state{
    color:#ccc;
    font-size:1.4em;
    opacity:0.8;
    padding:1em;
    text-align:center;
}

.page-header, .page-header h1{
    margin-top:0;
}
.page-header h1{
    font-size:2em;
}

.navbar{
    background:#000;
    border-radius:0;
    margin-bottom:2em;
    position:static;
}
.navbar-brand{
    height:auto;
    margin-left:0.3em!important;
    margin-right:1em;
    padding:8px 15px 3px;
    position:relative;
}
.navbar-brand img{
    max-height:2.5em;
}

.navbar-nav > li > a{
    font-weight:bold;
}
.navbar-nav > li > a.active,
.navbar-nav > li > a:hover{
    color:#CAA047;
}
.navbar-nav > li.dropdown > a{
    color:#eee;
}

.navbar-nav > li > a > .ion-md-search{
    font-size:1.5em;
}

.navbar-nav > li > a.btn-nav{
    background:transparent;
    color:#CAA047;
    margin-top:0.4em;
    margin-right:1em;
    padding:0.5em 2em;
    text-transform:uppercase;
}
.navbar-nav > li > a.btn-nav:hover{
    color:#CAA047;
}

/* Nav tabs */
.nav-tabs{
    border-bottom:1px solid #28B2BB;
}
.nav-tabs > li > a{
    border:0;
    border-bottom:4px solid transparent;
    color:#28B2BB;
}
.nav-tabs>li>a:hover,
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover{
    background:transparent;
    border:0;
    border-bottom:4px solid #28B2BB;
    color:#28B2BB;
    cursor:pointer;
}

.dropdown-menu.profile-dropdown-menu{
    background:rgba(0,0,0,0.7);
    border:1px solid #333;
    border-radius:0;
    padding:0;
    right:10px;
}
.profile-dropdown-menu.dropdown-menu > li > a{
    color:#fff;
    padding:0.8em 1em;
}
.profile-dropdown-menu.dropdown-menu > li > a:hover{
    background:rgba(0,0,0,0.9);
}

.container{
    margin:0 auto;
    max-width:1200px;
    padding:0;
}
.page-container{
    min-height:34em;
}

.container.fullscreen{
    max-width: 100%;
    width: auto;
}

.modal-dialog{
    color:#000;
}

.login-holder{
    margin:5% auto;
    max-width:480px;
}
.login-holder .form-group{
    margin-left:0;
    margin-right:0;
}
.social-login{
    margin:0 auto 1em;
}
.social-login{
    
}
.btn-login{
    cursor:pointer;
    float:left;
    margin:0 5px 1em;
    height:50px;
    max-width:50%;
}

/* Home */
.slick-slider .slick-prev, .slick-slider .slick-next{
    background:rgba(255,255,255,0)!important;
    top:0;
    bottom:0;
    transform:none!important;
    height:auto!important;
    width:auto!important;
    z-index:10;
}
.slick-slider .slick-prev{
    left:1em;
}
.slick-slider .slick-next{
    right:1em;
}
.slick-list{
    display:inline-block!important;
    width:100%;
}
.slick-track{
    float:left;
}
.slick-dots li button:before{
    color:#ddd!important;
    font-size:12px!important;
}

.home-carousel .carousel-root{
    margin-bottom:40px;
}
.home-carousel .carousel.carousel-slider{
    overflow:initial;
}
.home-carousel .carousel .control-dots{
    bottom:-50px;
}
.home-carousel .carousel .control-dots .dot{
    height:12px;
    width:12px;
}
.banner-img{
    
}
.banner-desc{
    background-color:#000000;
    box-shadow:#000000 -30px 50px 100px 80px;
    font-size:16px;
    padding-top:8%;
}

.content-genre-wrapper{
    padding:12px;
}
.content-genre-header{
    color:#fff;
    font-size:1.1em;
    font-weight:700;
    margin-top:0;
    text-shadow:5px 5px 5px rgba(0,0,0,0.8);
    text-transform:uppercase;
}
.content-card{
    background:rgba(0,0,0,0.4);
    /* border:1px solid #222; */
    box-shadow:2px 5px 12px rgba(0,0,0,0.8);
    height:15em;
    margin-bottom:2em;
    overflow:hidden;
    padding:0 8px;
    position:relative;
    transition:all 0.4s ease-in-out;
}
.content-card:hover{
    position:relative;
    /* transform:scale(1.1);
    z-index:3; */
}
.content-card a{
    color:#fff;
    display:block;
    position:relative;
}
.content-card .purchase-label{
    position:absolute;
    padding:1px 3px;
    z-index:4;
}
.resume-holder .content-card-info{
    display:none;
}
.resume-holder .play-button-overlay{
    background:url(../images/play.png) no-repeat center rgba(0,0,0,0.4);
    background-size: 64px;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:1;
}
.resume-holder .elapsed-progress{
    background:#dc4694;
    height:5px;
    position:absolute;
    left:0;
    top:0;
}
.purchase-label.est{
    background:#50448D;
}
.purchase-label.rental{
    background:#8F1D58;
}

.content-card-img{
    opacity:0.8;
}
.content-card-info{
    position:absolute;
    text-align:center;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:4;
}
.content-card-info h5{
    background:rgba(0,0,0,0.7);
    color:#CAA047;
    font-weight:bold;
    font-size:1em;
    margin:0;
    padding:0.6em 1em;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    text-shadow:0 0 3px rgba(0,0,0,0.8);
    text-transform:capitalize;
    transition:all 0.4s ease-in-out;
}
.content-card-info > p{
    opacity:0;
    font-size:11px;
    line-height:1.5em;
    padding:10px 15px;
    position:relative;
    top:0px;
    transition:all 0.5s ease-in-out;
    text-align:left;
    text-overflow:ellipsis;
}
.content-card-info > p span.synopsis{
    display:block;
    height:14.5em;
    margin-bottom:6px;
    overflow:hidden;
}
.content-card:hover .content-card-img{
    opacity:1;
    /* transform:scale(1.2); */
}
.content-card:hover .content-card-info{
    background:rgba(0,0,0,0.7);
    text-align:left;
}
.content-card:hover .content-card-info h5{
    display:none;
}
.content-card:hover .content-card-info > p{
    color:#fff;
    opacity:1;
}
.btn.content-card-button{
    font-size:0.9em;
    padding:0.3em 1em 0.2em;
}
.buy-with-mpesa{
    border-bottom:1px solid #eee;
    border-top:1px solid #eee;
    padding:10px 10px 0;
}
.buy-with-mpesa span, .buy-with-mpesa img{
    float:left;
}
.buy-with-mpesa img{
    max-height:60px;
}

/* Rating Emojis */
.content-rating-emojis{
    margin-bottom:1em;
}
.rating-emojis{
    clear:both;
}
.rating-emoji img{
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    display: inline;
    margin-right: 3px;
    max-width:24px;
}
.rating-emoji.active-emoji img{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    max-width:36px;
}

.content-tags i{
    color:#eee;
    margin-right:6px;
}
.content-tags span{
    background:#333;
    border-radius:4px;
    color:#fff;
    display:inline-block;
    font-size:0.8em;
    line-height:16px;
    margin-bottom:6px;
    margin-right:6px;
    padding:3px 10px 4px;
}

.content-synopsis{
    margin:1em 0;
}

.recommendations-holder{
    margin-top:2em;
}
.recommendations-holder h4{
    text-transform: uppercase;
}

.comments-holder{
    margin-top:2em;
}

/* Search Area */
.search-overlay{
    background:rgba(0,0,0,0.9);
    color:#fff;
    overflow:auto;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
    z-index:10;
}
.search-overlay form{
    margin:0 auto;
    max-width:840px;
    padding:1em;
    position:relative
}
.search-overlay .search-input{
    background:#333;
    border:0;
    border-radius:0px;
    color:#fff;
    font-size:1.1em;
    outline:none!important;
    padding:2em 1em;
    width:100%;
}
.search-overlay .search-results{
    margin-top:4%;
}
.search-overlay .close-search{
    border:0;
    background:rgba(255,255,255,0.5);
    border-radius:50%;
    cursor:pointer;
    float:right;
    font-size:1.5em;
    margin:10px;
    padding:0.4em 0.6em;
    position:absolute;
    top:0.8em;
    right:1em;
}

/* Download app */
.page-container.download-app{
    margin:1em auto 0;
    max-width:640px;
}
.app-info{
    padding-left:0;
}
.download-header{
    font-size:2.3em;
    margin-bottom:1em;
    margin-top:2em;
}
.download-app p{
    margin-bottom:8px;
}
.google-play-badge{
    margin-top:2em;
    max-width:16em;
}
.app-screenshot{
    max-height:32em;
}

/* Detail View */
.detail-view-holder{
    position:relative;
}
.content-info{
    margin-bottom:2em;
}
.content-info h1{
    font-size:1.7em;
}
.content-buttons .btn{
    border-radius:2px;
    margin-bottom:5px;
    margin-right:8px;
    margin-left:0;
    padding:0.4em 1.5em 0.5em;
}
.content-buttons .btn i{
    font-size:1.2em;
    position:relative;
    top:1px;
}
.content-buttons .btn small{
    display:inline-block;
    margin-right:6px;
}

.trailer-modal, .trailer-overlay{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.trailer-overlay{
    background:rgba(0,0,0,0.9);
    z-index:10;
}
.trailer-modal{
    margin:auto;
    max-width:720px;
    height:420px;
    padding:2px;
    z-index:11;
}
.trailer-modal button{
    border-radius:50%;
    position:absolute;
    top:-0.5em;
    right:-0.5em;
    font-size:1.5em;
    line-height:0;
    padding:0.6em 0.35em;
}
.trailer-modal iframe{
    height:100%;
    width:100%;
}
.is-favourite i.icon{
    color:#C41A16;
}

#player > div{
    height:100vh!important;
}

.media-player-bar h2{
    background:rgba(0,0,0,0.7);
    font-size:1.2em;
    margin-top:0;
    margin-bottom:0;
    position:fixed;
    left:0;
    right:0;
    z-index:2;
}
.btn-back-media-player{
    background:transparent;
    border-radius:50%;
    color:#CAA047!important;
    margin-right:1em;
}
.btn-back-media-player i.icon{
    font-size:2em;
}

.video-alert{
    font-size:1.2em;
    margin:15% auto 10%;
    max-width:480px;
}
.video-alert > div{
    list-style:none;
    margin-top:1em;
    padding-left:2em;
    text-align:center;
}
.video-alert img{
    margin:0 auto;
    width:100px;
}

/* Sidebar */
.profile-sidebar{
    text-align:center;
}
.profile-img{
    margin-bottom:2em;
}
.profile-img img{
    margin:1em auto;
    width:12em;
}
.sidebar-links li{
    list-style:none;
}
.sidebar-links li a{
    margin-left:1em;
}

/* Check-in */
.check-in{
    margin:0 auto;
    max-width:360px;
}
.check-in .pin-input{
    font-size:32px;
    height:auto;
    letter-spacing:2px;
    text-align:center;
}

/* Payments modal */
.mookh-bd{
    background:#fff;
}
.mookh-bd, 
.mookh-bd h1, .mookh-bd h2, .mookh-bd h3, .mookh-bd h4, .mookh-bd h6{
    color:#000!important;
}
#mookh-frame{
    border-collapse:collapse;
}
.pay-buttons img, .pay-buttons .btn{
    float:left;
    margin-bottom:15px;
    margin-right:10px;
    max-height:3.6em;
}
.pay-buttons .btn{
    position:relative;
    top:5px;
}

.footer{
    font-size:0.8em;
    margin-top:5em;
    padding:1em;
    text-align:center;
}

.footer a + a{
    margin-left:15px;
}

/* Jivochat: hide here */
body.video-player .globalClass_ET{
    display:none;
}

@media (max-width: 768px) {

    .navbar-nav{
        display:inline-block;
        float:left;
        margin:8px 0;
    }
    .navbar-right{
        float:right;
    }

    .navbar-nav>li{
        display:inline-block;
    }

    .navbar-nav>li>a{
        padding:10px 15px;
    }
}