video {
    cursor: pointer;
  }
  
  .vjs-menu {
    bottom: 1em!important;
    font-size: 1.25em;
  }
  
  /* Play button */
  
  .video-js .vjs-big-play-button {
    border-radius: 50%;
    display: none;
    height: 3em;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  
  .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    font-size: 2em;
    margin-top: 0.35em;
  }
  
  /* Control bar */
  
  .video-js * {
    outline: none!important;
  }
  
  .video-js .vjs-control-bar {
    background: rgba(38, 38, 38, 0.9);
    border-radius: 8px;
    height: 5em;
    margin: 50px auto;
    max-width: 640px;
    width: auto;
  }
  
  .vjs-button>.vjs-icon-placeholder:before {
    font-size: 3em;
  }
  
  .video-js .vjs-progress-holder {
    height: 0.5em;
  }
  
  .video-js .vjs-progress-control:hover .vjs-progress-holder {
    font-size: 1em;
  }
  
  .video-js .vjs-play-progress:before {
    font-size: 2em;
    top: -0.35em;
  }
  
  .video-js .vjs-time-control {
    font-size: 1.7em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  
  /* Volume bar */
  
  .vjs-volume-bar.vjs-slider-horizontal {
    height: 0.6em;
  }
  
  .video-js .vjs-volume-bar {
    margin-top: 2.2em;
  }
  
  .vjs-slider-horizontal .vjs-volume-level {
    height: 0.5em;
  }
  
  .video-js .vjs-volume-level:before {
    font-size: 2em;
  }
  
  .vjs-slider-horizontal .vjs-volume-level:before {
    top: -0.36em;
  }
  
  /* Rate selector */
  
  .vjs-playback-rate .vjs-playback-rate-value {
    font-size: 2em;
    top: 4px;
  }
  
  .video-js.video-js .vjs-big-play-button {
    background-color: #000000;
    opacity: .7;
    width: 100px;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
  }
  
  .video-js.video-js .vjs-big-play-button:before {
    background-color: #000000;
    opacity: .7;
    width: 100px;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    margin-top: 27px;
    margin-left: 30px;
    font-size: 4em;
    color: white;
    opacity: .9;
  }