.video-js.video-js .vjs-big-play-button {
  background-color: #000000;
  opacity: .7;
  width: 100px;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  &:before {
    margin-top: 27px;
    margin-left: 30px;
    font-size: 4em;
    color: white;
    opacity: .9;
  }
}