/* https://developers.google.com/cast/docs/styled_receiver#css */
.background{
    background: no-repeat center #000;
}
.logo {
    background-image: url(logo.png);
}

.progressBar {
    background-color: rgb(220, 70, 148);
}

.watermark {
    background-image: url(watermark.png);
    background-size: 57px 57px;
}